<nav class="navbar navbar-expand-lg fixed-top navbar-custom">
    <div class="container-fluid">
          <a class="navbar-brand" href="/MailMetrics"><i class="fa-regular fa-envelope" style="color: #308d46;"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/MailMetrics">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/senderEmail">Sender Emails</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/MailMetrics/campaigns">Campaigns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/MailMetrics/email">Templates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/MailMetrics/subscribers">Subscribers</a>
                </li>
            </ul>
            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
                <% if (currUser) { %>
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary rounded-pill px-3" href="/logout">Logout</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary rounded-pill px-3" href="/signup">Signup</a>
                    </li>
                <% } %> 
            </ul>
        </div>
    </div>
</nav>