<% layout('/layouts/boilerplate')%>
<body>
    <div class="row mt-3">
        <h1 class="col-6 offset-3">Add Sender Email</h1>
        <div class="col-6 offset-3">
        <form method="POST" action="/addSenderEmail" novalidate class="needs-validation">
                <div class="mb-3">
                  <label for="username" class="form-label">Sender Email</label>
                  <input type="email" name="email" id="email" class="form-control" required>
                  
                  <div class="invalid-feedback">
                    Sender Email is required!
                  </div>
                </div>

                
                
                <div class="mb-3">
                        <label for="appPassword" class="form-label">App password</label>
                        <input type="password" name="appPassword" id="appPassword" class="form-control" required>
                        <div class="invalid-feedback">
                           App password is required!
                        </div>
                </div>
                    
              <div>

                <div class="mb-3">
                   <p>How to get app password of your gmail : <br/> <a href="https://support.google.com/mail/answer/185833?hl=en#" target="_blank">Document Link</a> &nbsp;&nbsp; <a href="https://www.youtube.com/watch?v=rqPmaDxigNY" target="_blank">Video Link</a></p>
                   
                   
            </div>
                
          <div>
                <button class=" btn btn-success offset-3 col-6 mb-3">Add</button>
              </div>
              
                
                
           
         
            </form>
        </div>
    </div>
   
   
</body>
