<% layout('/layouts/boilerplate')%>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 8px 12px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f4f4f4;
    }
</style>

<body>
    <h1>Subscribers List</h1> 
    <br/>
    <form action="/addSenderEmail" method="get">
        <button class="btn btn-success">Add Sender Email</button>
    </form>
    <br/>
    <br/>

    <table>
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

           
            <% if(allSenderEmail.length===0) { %>
                <tr>
                <h3 class="no-campaign-message">You do not have any Sender Email!</h3>
                </tr>
                <% } else { %>

                    <% let Sno=0; %>
            <% for(senderEmail of allSenderEmail) { Sno=Sno+1;%>
                <tr>
                    <td><%= Sno%></td>
                    <td><%= senderEmail.email %></td>
                     <td>
                        <form action="/deleteSenderEmail/<%=senderEmail._id %>" method="get" onsubmit="return confirmDelete('<%= senderEmail._id %>')">
                            <button><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            <% } %>
            <% } %>
        </tbody>
    </table>

    <script>
        function confirmDelete(senderEmailId) {
            // Display a confirmation popup
            var result = confirm("Are you sure you want to delete this Subscriber? If you proceed, all contribution data related to this Subscriber will also be deleted.");

            if (!result) {
                // If user cancels, return false to prevent form submission
                console.log("Deletion canceled.");
                return false;
            } else {
                // If user confirms, proceed with deletion
                console.log("Item with ID " + senderEmailId + " deleted successfully.");
                // You can also make an AJAX request to delete the item from the server
                // After deletion, you can perform any additional actions, such as updating the UI
                return true; // Allow form submission
            }
        }
    </script>
</body>
